.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body { 
    background-color: hsl(230, 100%, 99%); 
}

.headings {
    text-align: center;
    padding-top: 20px;
}

h1 {
    font-size:60px;
    font-size: 15px;
    font-family: Manrope; 
}

.price {
    margin-left: 250px;
    font-size: 50px;
    font-family: Manrope; 
    font-weight: 800;
}

.text {
    color: hsl(225, 20%, 60%);
    font-size: 15px;
    font-family: Manrope; 
    font-weight: 600;
}

.month { 
    color: hsl(225, 20%, 60%);
    font-size: 15px;
    font-family: Manrope; 
    font-weight: 600;
}
ul { 
    font-size: 15px;
    font-family: Manrope; 
    margin: 0 0 0 32px;
    line-height: 1.5;
    list-style-type: none;
}

.tick { 
    list-style-image: url('images/icon-check.svg');
}
a { 
    border-radius: 30px 30px 30px 30px;
    background-color: hsl(227, 35%, 25%);
    color: hsl(225, 20%, 60%);
    text-decoration: none;
    font-size: 15px;
    font-family: Manrope; 
    padding-inline: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 20px;
    margin-left: auto;
    width: max-content;
    height: min-content;
    text-align: center;
}
.headings h1 {
    font-size:40px;
}

.centre {
    width:100vw; 
    padding-top: 80px; 
    display: flex; 
    align-items: center;
    justify-content: center;
}
.priceBox {
    width: fit-content;
    background-color:  hsl(0, 0%, 100%);
    display: inline-grid;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 8px 8px;
    box-shadow: #888888 2px 2px 10px;
}
.choosePricing {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.inlinePrices {
    text-align: center;
}
.slider {
    -webkit-appearance: none;
    border-radius: 30px 30px 30px 30px;
    height: 8px;
    width: 500px;
    margin-inline: 70px;
    margin-bottom: 20px;
    background-color: #b1daa0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: url(images/icon-slider.svg) no-repeat center;
    background-color: hsl(100, 77%, 43%);
    border-radius: 30px 30px 30px 30px;
    box-shadow: #b1daa0 2px 2px 10px;
  }

.discountSelection { 
    display: flex;
}
.discountYearly{
    color: hsl(15, 100%, 70%);
    background-color: hsl(14, 92%, 95%);
    width: fit-content;
    padding-inline: 5px;
    border-radius: 30px 30px 30px 30px;
    margin-left: 5px;
}

/* This is all for the flipswitch */
.flipswitch {
    position: relative;
    width: 115px;
  }
  .flipswitch input[type=checkbox] {
    display: none;
  }
  .flipswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #999999;
    border-radius: 50px;
  }
  .flipswitch-inner {
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
  }
  .flipswitch-inner:before, .flipswitch-inner:after {
    float: left;
    width: 50%;
    height: 39px;
    padding: 0;
    line-height: 39px;
    font-size: 18px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
  }
  .flipswitch-inner:before {
    content: "";
    padding-left: 12px;
    background-color: #256799;
    color: #FFFFFF;
  }
  .flipswitch-inner:after {
    content: "";
    padding-right: 12px;
    background-color: #EBEBEB;
    color: #888888;
    text-align: right;
  }
  .flipswitch-switch {
    width: 31px;
    margin: 4px;
    background: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 74px;
    transition: all 0.3s ease-in 0s;
  }
  .flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
    margin-left: 0;
  }
  .flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
    right: 0;
  }
  
  .benefitsAndStartTrial { 
    display: flex;
  }

