.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body { 
    background-color: hsl(230, 100%, 99%);
}

.headings {
    text-align: center;
    padding-top: 20px;
}

h1 {
    font-size:60px;
}

p {
    color: hsl(225, 20%, 60%)
}
.headings h1 {
    font-size:40px;
}

.priceBox {
    background-color:  hsl(0, 0%, 100%);
    text-align: center;
    justify-content: center;
}
.pricePreview { 
    
}